/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./src/app/patient-contact-edit/[contactid]/page.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.page_li__zO7O0{
   margin-top: 1em;
   margin-left: 1em;
}

.page_label__L8Cfv {
  font-weight: bold;
  margin-right: 1em;
}

.page_ul__kMkza {
  list-style: none;
}
